# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.tmp
*.user
*.exe
*.code-workspace
*.log
*.sql_old
*.zip
.idea/*
./vscode/*
.vscode/
.client/
TestConfig/
TestConfig/*
conf.yml
*__debug_bin*
/portal-conf.yml
/root.crt
key.json

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
